@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.roomDetails {
    display: flex;
    align-items: center;
    justify-content: center;

}

.detailscomp {
    /* width: 100vh; */
    padding: 40px;
}

.amenties {
    display: flex;
    flex-direction: column;
    gap: 10px;

    div {
        display: flex;
        gap: 100px;
        align-items: 10px;

        /* align-self: center; */
    }

}

.detailsandpaycard {
    display: flex;
    /* justify-content: space-between; */
    gap: 300px;
    margin-top: 50px;
    align-items: center;

}